<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Novo Empregado </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Nome</label>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="empregado.nome"
                            name="nome">
                    </div>

                    <div class="form-group">
                        <label> Cargo</label>
                        <input type="text" class="form-control" id="cargo" [(ngModel)]="empregado.cargo"
                            name="cargo">
                    </div>

                    <div class="form-group">
                        <label> E-mail</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="empregado.email"
                            name="email">
                    </div>

                    <br />
                        <button class="btn" type="submit" style="background-color: #EF145B;"><b>Salvar</b></button>

                </form>
            </div>
        </div>
    </div>
</div>